flows.json
[
  {
    "id": "tab-orchestration",
    "type": "tab",
    "label": "Orchestration",
    "disabled": false,
    "info": "Main business process. Option A: Node-RED is the entry point."
  },
  {
    "id": "tab-error-handling",
    "type": "tab",
    "label": "Error Handling",
    "disabled": false,
    "info": "Compensation flows and Dead Letter Channel."
  },
  {
    "id": "tab-admin",
    "type": "tab",
    "label": "Admin",
    "disabled": false,
    "info": "Health check, trace lookup, DLQ inspection."
  },

  {
    "id": "orch-http-in",
    "type": "http in",
    "z": "tab-orchestration",
    "name": "POST /order",
    "url": "/order",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 120,
    "y": 80,
    "wires": [["orch-init-context"]]
  },
  {
    "id": "orch-init-context",
    "type": "function",
    "z": "tab-orchestration",
    "name": "Init Saga + Correlation ID",
    "func": "var correlationId = msg.req.headers['x-correlation-id'] || require('crypto').randomUUID();\nvar originalPayload = msg.payload;\nmsg._saga = {\n  correlationId: correlationId,\n  rawInput: originalPayload,\n  rawContentType: msg.req.headers['content-type'] || 'application/json',\n  trace: [],\n  orderId: null,\n  transactionId: null,\n  reservationId: null\n};\nconsole.log('[orchestration] Init saga | correlationId=' + correlationId);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 80,
    "wires": [["orch-detect-format"]]
  },
  {
    "id": "orch-detect-format",
    "type": "function",
    "z": "tab-orchestration",
    "name": "Detect Input Format",
    "func": "var ct = (msg._saga.rawContentType || '').toLowerCase();\nif (ct.includes('xml') || ct.includes('text/plain')) {\n  msg._inputFormat = 'xml';\n} else if (msg._saga.rawInput && msg._saga.rawInput.oid) {\n  msg._inputFormat = 'mobile';\n} else {\n  msg._inputFormat = 'web';\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 80,
    "wires": [["orch-format-switch"]]
  },
  {
    "id": "orch-format-switch",
    "type": "switch",
    "z": "tab-orchestration",
    "name": "CBR: Input Format",
    "property": "_inputFormat",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "xml", "vt": "str" },
      { "t": "eq", "v": "mobile", "vt": "str" },
      { "t": "else" }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 700,
    "y": 80,
    "wires": [
      ["orch-translate-xml"],
      ["orch-translate-mobile"],
      ["orch-translate-web"]
    ]
  },
  {
    "id": "orch-translate-xml",
    "type": "function",
    "z": "tab-orchestration",
    "name": "Translator: B2B XML to Canonical",
    "func": "var raw = msg.req ? msg.req.body : '';\nvar xmlStr = typeof raw === 'string' ? raw : JSON.stringify(raw);\nfunction getAttr(str, tag, attr) { var re = new RegExp('<' + tag + '[^>]*\\\\b' + attr + '=[\"\\']([^\"\\']+)[\"\\']', 'i'); var m = str.match(re); return m ? m[1] : null; }\nfunction getTag(str, tag) { var re = new RegExp('<' + tag + '(?:[^>]*)?>([\\s\\S]*?)<\\/' + tag + '>', 'i'); var m = str.match(re); return m ? m[1].trim() : null; }\nfunction getAllMatches(str, tag) { var re = new RegExp('<' + tag + '[\\s\\S]*?<\\/' + tag + '>', 'gi'); var results = []; var m; while ((m = re.exec(str)) !== null) results.push(m[0]); return results; }\nvar orderId = getAttr(xmlStr, 'PurchaseOrder', 'orderId') || ('B2B-' + Date.now());\nvar orderDate = getAttr(xmlStr, 'PurchaseOrder', 'orderDate') || new Date().toISOString();\nvar buyerName = getTag(xmlStr, 'Name') || 'Unknown';\nvar buyerEmail = getTag(xmlStr, 'ContactEmail') || 'unknown@example.com';\nvar street = getTag(xmlStr, 'Street') || '';\nvar city = getTag(xmlStr, 'City') || '';\nvar postalCode = getTag(xmlStr, 'PostalCode') || '';\nvar country = getAttr(xmlStr, 'ShipToAddress', 'country') || 'GB';\nvar currency = getAttr(xmlStr, 'LineItems', 'currency') || 'GBP';\nvar lineItemXmls = getAllMatches(xmlStr, 'LineItem');\nvar items = lineItemXmls.map(function(li, i) { var sku = getAttr(li, 'LineItem', 'sku') || ('SKU-' + i); var qty = parseInt(getAttr(li, 'LineItem', 'quantity') || '1', 10); var desc = getTag(li, 'Description') || 'Item'; return { productId: sku.replace('SKU-', ''), productName: desc, quantity: qty, unitPrice: 0, currency: currency, taxRate: 0.20 }; });\nmsg.payload = { orderId: orderId, orderType: 'b2b', source: 'b2b', orderDate: orderDate, customer: { name: buyerName, email: buyerEmail, address: { street: street, city: city, postalCode: postalCode, country: country } }, items: items, currency: currency, status: 'new' };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 180,
    "wires": [["orch-route-by-type"]]
  },
  {
    "id": "orch-translate-mobile",
    "type": "function",
    "z": "tab-orchestration",
    "name": "Translator: Mobile JSON to Canonical",
    "func": "var m = msg.payload;\nvar addrParts = (m.addr || '').split(',').map(function(s) { return s.trim(); });\nvar currencyMap = { 840: 'USD', 978: 'EUR', 826: 'GBP' };\nvar currencyCode = currencyMap[m.cur] || 'EUR';\nmsg.payload = { orderId: m.oid || ('MOB-' + Date.now()), orderType: m.ot || 'express', source: 'mobile', orderDate: m.ts ? new Date(m.ts * 1000).toISOString() : new Date().toISOString(), customer: { name: m.cust_name || 'Unknown', email: m.cust_email || 'unknown@example.com', address: { street: addrParts[0] || '', city: addrParts[1] || '', postalCode: addrParts[2] || '', country: addrParts[3] || 'LV' } }, items: [{ productId: m.prod_id || 'UNKNOWN', productName: m.prod_name || 'Item', quantity: parseInt(m.qty, 10) || 1, unitPrice: 0, currency: currencyCode, taxRate: 0.21 }], currency: currencyCode, status: 'new' };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 180,
    "wires": [["orch-route-by-type"]]
  },
  {
    "id": "orch-translate-web",
    "type": "function",
    "z": "tab-orchestration",
    "name": "Translator: Web JSON enrich",
    "func": "var p = msg.payload;\nif (!p.source) p.source = 'web';\nif (!p.orderType) p.orderType = 'standard';\nif (!p.status) p.status = 'new';\nif (!p.orderDate) p.orderDate = new Date().toISOString();\nif (p.items) p.items.forEach(function(item) { if (!item.taxRate) item.taxRate = 0.21; });\nmsg.payload = p;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 920,
    "y": 180,
    "wires": [["orch-route-by-type"]]
  },
  {
    "id": "orch-route-by-type",
    "type": "switch",
    "z": "tab-orchestration",
    "name": "CBR: Order Type",
    "property": "payload.orderType",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "express", "vt": "str" },
      { "t": "eq", "v": "b2b", "vt": "str" },
      { "t": "else" }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 700,
    "y": 280,
    "wires": [
      ["orch-priority-express"],
      ["orch-priority-b2b"],
      ["orch-priority-standard"]
    ]
  },
  {
    "id": "orch-priority-express",
    "type": "function",
    "z": "tab-orchestration",
    "name": "Priority: express",
    "func": "msg._saga.priority = 'high'; msg._saga.slaMs = 5000; return msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 360,
    "wires": [["orch-create-order"]]
  },
  {
    "id": "orch-priority-b2b",
    "type": "function",
    "z": "tab-orchestration",
    "name": "Priority: b2b",
    "func": "msg._saga.priority = 'normal'; msg._saga.slaMs = 10000; return msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 700,
    "y": 360,
    "wires": [["orch-create-order"]]
  },
  {
    "id": "orch-priority-standard",
    "type": "function",
    "z": "tab-orchestration",
    "name": "Priority: standard",
    "func": "msg._saga.priority = 'normal'; msg._saga.slaMs = 15000; return msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 360,
    "wires": [["orch-create-order"]]
  },
  {
    "id": "orch-create-order",
    "type": "function",
    "z": "tab-orchestration",
    "name": "Prepare: Create Order",
    "func": "var saga = msg._saga;\nmsg._canonicalOrder = msg.payload;\nmsg.headers = { 'x-correlation-id': saga.correlationId, 'content-type': 'application/json' };\nmsg.url = (process.env.ORDER_URL || 'http://order-service:3001') + '/orders';\nmsg.method = 'POST';\nmsg._stepStart = Date.now();\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 700,
    "y": 460,
    "wires": [["orch-call-order"]]
  },
  {
    "id": "orch-call-order",
    "type": "http request",
    "z": "tab-orchestration",
    "name": "POST /orders",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 700,
    "y": 540,
    "wires": [["orch-store-order-id"]]
  },
  {
    "id": "orch-store-order-id",
    "type": "function",
    "z": "tab-orchestration",
    "name": "Store orderId + Prepare Payment",
    "func": "var saga = msg._saga;\nsaga.orderId = msg.payload.orderId;\nconsole.log('[orchestration] order created | orderId=' + saga.orderId);\nvar items = msg._canonicalOrder && msg._canonicalOrder.items ? msg._canonicalOrder.items : [];\nvar total = items.reduce(function(s, i) { return s + (i.unitPrice || 0) * (i.quantity || 1); }, 0);\nvar currency = (msg._canonicalOrder && msg._canonicalOrder.currency) ? msg._canonicalOrder.currency : 'EUR';\nmsg.url = (process.env.PAYMENT_URL || 'http://payment-service:3002') + '/payment/authorize';\nmsg.method = 'POST';\nmsg.headers = { 'x-correlation-id': saga.correlationId, 'content-type': 'application/json' };\nmsg.payload = { orderId: saga.orderId, correlationId: saga.correlationId, amount: total, currency: currency };\nmsg._stepStart = Date.now();\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 700,
    "y": 620,
    "wires": [["orch-call-payment"]]
  },
  {
    "id": "orch-call-payment",
    "type": "http request",
    "z": "tab-orchestration",
    "name": "POST /payment/authorize",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 700,
    "y": 700,
    "wires": [["orch-check-payment"]]
  },
  {
    "id": "orch-check-payment",
    "type": "switch",
    "z": "tab-orchestration",
    "name": "Payment OK?",
    "property": "payload.status",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "authorized", "vt": "str" },
      { "t": "else" }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 700,
    "y": 780,
    "wires": [
      ["orch-payment-ok"],
      ["orch-payment-failed"]
    ]
  },
  {
    "id": "orch-payment-ok",
    "type": "function",
    "z": "tab-orchestration",
    "name": "Record Payment + Prepare Inventory",
    "func": "var saga = msg._saga;\nsaga.transactionId = msg.payload.transactionId;\nsaga.trace.push({ step: 'payment', status: 'success', durationMs: Date.now() - msg._stepStart });\nvar items = msg._canonicalOrder && msg._canonicalOrder.items ? msg._canonicalOrder.items.map(function(i) { return { productId: i.productId, quantity: i.quantity }; }) : [];\nmsg.url = (process.env.INVENTORY_URL || 'http://inventory-service:3003') + '/inventory/reserve';\nmsg.method = 'POST';\nmsg.headers = { 'x-correlation-id': saga.correlationId, 'content-type': 'application/json' };\nmsg.payload = { orderId: saga.orderId, correlationId: saga.correlationId, transactionId: saga.transactionId, items: items };\nmsg._stepStart = Date.now();\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 880,
    "wires": [["orch-call-inventory"]]
  },
  {
    "id": "orch-payment-failed",
    "type": "function",
    "z": "tab-orchestration",
    "name": "Record Payment Failure",
    "func": "var saga = msg._saga;\nsaga.trace.push({ step: 'payment', status: 'failed', reason: msg.payload.reason || 'Payment declined', durationMs: Date.now() - msg._stepStart });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 880,
    "y": 880,
    "wires": [["orch-build-failed"]]
  },
  {
    "id": "orch-call-inventory",
    "type": "http request",
    "z": "tab-orchestration",
    "name": "POST /inventory/reserve",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 520,
    "y": 960,
    "wires": [["orch-check-inventory"]]
  },
  {
    "id": "orch-check-inventory",
    "type": "switch",
    "z": "tab-orchestration",
    "name": "Inventory OK?",
    "property": "payload.status",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "reserved", "vt": "str" },
      { "t": "else" }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 520,
    "y": 1040,
    "wires": [
      ["orch-inventory-ok"],
      ["orch-inventory-failed"]
    ]
  },
  {
    "id": "orch-inventory-ok",
    "type": "function",
    "z": "tab-orchestration",
    "name": "Record Inventory + Prepare Notification",
    "func": "var saga = msg._saga;\nsaga.reservationId = msg.payload.reservationId;\nsaga.trace.push({ step: 'inventory', status: 'success', durationMs: Date.now() - msg._stepStart });\nvar customerEmail = (msg._canonicalOrder && msg._canonicalOrder.customer) ? msg._canonicalOrder.customer.email : 'customer@example.com';\nmsg.url = (process.env.NOTIFICATION_URL || 'http://notification-service:3004') + '/notification/send';\nmsg.method = 'POST';\nmsg.headers = { 'x-correlation-id': saga.correlationId, 'content-type': 'application/json' };\nmsg.payload = { orderId: saga.orderId, correlationId: saga.correlationId, type: 'order_confirmed', recipient: customerEmail, message: 'Your order ' + saga.orderId + ' has been confirmed.' };\nmsg._stepStart = Date.now();\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 1140,
    "wires": [["orch-call-notification"]]
  },
  {
    "id": "orch-inventory-failed",
    "type": "function",
    "z": "tab-orchestration",
    "name": "Record Inventory Failure + Start Compensation",
    "func": "var saga = msg._saga;\nsaga.trace.push({ step: 'inventory', status: 'failed', reason: msg.payload.reason || 'Insufficient stock', durationMs: Date.now() - msg._stepStart });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 1140,
    "wires": [["eh-refund-payment"]]
  },
  {
    "id": "orch-call-notification",
    "type": "http request",
    "z": "tab-orchestration",
    "name": "POST /notification/send",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 340,
    "y": 1220,
    "wires": [["orch-check-notification"]]
  },
  {
    "id": "orch-check-notification",
    "type": "switch",
    "z": "tab-orchestration",
    "name": "Notification OK?",
    "property": "statusCode",
    "propertyType": "msg",
    "rules": [
      { "t": "lte", "v": "299", "vt": "str" },
      { "t": "else" }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 340,
    "y": 1300,
    "wires": [
      ["orch-notification-ok"],
      ["orch-notification-failed"]
    ]
  },
  {
    "id": "orch-notification-ok",
    "type": "function",
    "z": "tab-orchestration",
    "name": "Build Completed Response",
    "func": "var saga = msg._saga;\nsaga.trace.push({ step: 'notification', status: 'success', durationMs: Date.now() - msg._stepStart });\nvar sagaStore = global.get('sagaStore') || {};\nsagaStore[saga.orderId] = { correlationId: saga.correlationId, priority: saga.priority, trace: JSON.parse(JSON.stringify(saga.trace)) };\nglobal.set('sagaStore', sagaStore);\nmsg.statusCode = 200;\nmsg.payload = { orderId: saga.orderId, correlationId: saga.correlationId, status: 'completed', trace: saga.trace };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 160,
    "y": 1400,
    "wires": [["orch-http-out"]]
  },
  {
    "id": "orch-notification-failed",
    "type": "function",
    "z": "tab-orchestration",
    "name": "Notification Failure + Full Compensation",
    "func": "var saga = msg._saga;\nsaga.trace.push({ step: 'notification', status: 'failed', durationMs: Date.now() - msg._stepStart });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 1400,
    "wires": [["eh-release-inventory"]]
  },
  {
    "id": "orch-build-failed",
    "type": "function",
    "z": "tab-orchestration",
    "name": "Build Failed Response",
    "func": "var saga = msg._saga;\nvar sagaStore = global.get('sagaStore') || {};\nsagaStore[saga.orderId || 'unknown'] = { correlationId: saga.correlationId, trace: JSON.parse(JSON.stringify(saga.trace)) };\nglobal.set('sagaStore', sagaStore);\nmsg.statusCode = 200;\nmsg.payload = { orderId: saga.orderId, correlationId: saga.correlationId, status: 'failed', trace: saga.trace };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 880,
    "y": 960,
    "wires": [["orch-http-out"]]
  },
  {
    "id": "orch-http-out",
    "type": "http response",
    "z": "tab-orchestration",
    "name": "HTTP Response",
    "statusCode": "",
    "headers": { "content-type": "application/json" },
    "x": 340,
    "y": 1500,
    "wires": []
  },

  {
    "id": "eh-release-inventory",
    "type": "function",
    "z": "tab-error-handling",
    "name": "Compensation Step 1: Release Inventory",
    "func": "var saga = msg._saga;\nconsole.log('[compensation] release inventory | orderId=' + saga.orderId + ' | reservationId=' + saga.reservationId);\nmsg.url = (process.env.INVENTORY_URL || 'http://inventory-service:3003') + '/inventory/release';\nmsg.method = 'POST';\nmsg.headers = { 'x-correlation-id': saga.correlationId, 'content-type': 'application/json' };\nmsg.payload = { orderId: saga.orderId, correlationId: saga.correlationId, reservationId: saga.reservationId };\nmsg._stepStart = Date.now();\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 200,
    "y": 120,
    "wires": [["eh-call-release"]]
  },
  {
    "id": "eh-call-release",
    "type": "http request",
    "z": "tab-error-handling",
    "name": "POST /inventory/release",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 200,
    "y": 200,
    "wires": [["eh-after-release"]]
  },
  {
    "id": "eh-after-release",
    "type": "function",
    "z": "tab-error-handling",
    "name": "Record Release + Chain to Refund",
    "func": "var saga = msg._saga;\nvar durationMs = Date.now() - (msg._stepStart || 0);\nif (msg.payload && msg.payload.status === 'released') {\n  saga.trace.push({ step: 'compensation:inventory-release', status: 'success', durationMs: durationMs });\n} else {\n  saga.trace.push({ step: 'compensation:inventory-release', status: 'failed', durationMs: durationMs });\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 200,
    "y": 280,
    "wires": [["eh-refund-payment"]]
  },
  {
    "id": "eh-refund-payment",
    "type": "function",
    "z": "tab-error-handling",
    "name": "Compensation Step 2: Refund Payment",
    "func": "var saga = msg._saga;\nconsole.log('[compensation] refund payment | orderId=' + saga.orderId + ' | transactionId=' + saga.transactionId);\nmsg.url = (process.env.PAYMENT_URL || 'http://payment-service:3002') + '/payment/refund';\nmsg.method = 'POST';\nmsg.headers = { 'x-correlation-id': saga.correlationId, 'content-type': 'application/json' };\nmsg.payload = { orderId: saga.orderId, correlationId: saga.correlationId, transactionId: saga.transactionId };\nmsg._stepStart = Date.now();\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 200,
    "y": 400,
    "wires": [["eh-call-refund"]]
  },
  {
    "id": "eh-call-refund",
    "type": "http request",
    "z": "tab-error-handling",
    "name": "POST /payment/refund",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 200,
    "y": 480,
    "wires": [["eh-after-refund"]]
  },
  {
    "id": "eh-after-refund",
    "type": "function",
    "z": "tab-error-handling",
    "name": "Record Refund + Build Compensated Response",
    "func": "var saga = msg._saga;\nvar durationMs = Date.now() - (msg._stepStart || 0);\nvar refundOk = msg.payload && msg.payload.status === 'refunded';\nif (refundOk) {\n  saga.trace.push({ step: 'compensation:payment-refund', status: 'success', durationMs: durationMs });\n  var sagaStore = global.get('sagaStore') || {};\n  sagaStore[saga.orderId || 'unknown'] = { correlationId: saga.correlationId, trace: JSON.parse(JSON.stringify(saga.trace)) };\n  global.set('sagaStore', sagaStore);\n  msg.statusCode = 200;\n  msg.payload = { orderId: saga.orderId, correlationId: saga.correlationId, status: 'compensated', trace: saga.trace };\n  return [msg, null];\n} else {\n  saga.trace.push({ step: 'compensation:payment-refund', status: 'failed', durationMs: durationMs });\n  msg._dlqReason = 'compensation-failed';\n  return [null, msg];\n}",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 200,
    "y": 560,
    "wires": [
      ["eh-comp-http-out"],
      ["eh-dlq"]
    ]
  },
  {
    "id": "eh-comp-http-out",
    "type": "http response",
    "z": "tab-error-handling",
    "name": "HTTP Response (compensated)",
    "statusCode": "",
    "headers": { "content-type": "application/json" },
    "x": 200,
    "y": 640,
    "wires": []
  },
  {
    "id": "eh-dlq",
    "type": "function",
    "z": "tab-error-handling",
    "name": "Dead Letter Channel",
    "func": "var dlq = global.get('deadLetterQueue') || [];\nvar entry = {\n  id: require('crypto').randomUUID(),\n  timestamp: new Date().toISOString(),\n  reason: msg._dlqReason || 'unrecoverable-error',\n  correlationId: msg._saga ? msg._saga.correlationId : 'unknown',\n  orderId: msg._saga ? msg._saga.orderId : 'unknown',\n  trace: msg._saga ? JSON.parse(JSON.stringify(msg._saga.trace)) : [],\n  payload: msg.payload\n};\ndlq.push(entry);\nglobal.set('deadLetterQueue', dlq);\nnode.warn('[DLQ] Entry stored: correlationId=' + entry.correlationId + ' reason=' + entry.reason);\nconsole.log('[DLQ]', JSON.stringify(entry));\nmsg.statusCode = 500;\nmsg.payload = { orderId: entry.orderId, correlationId: entry.correlationId, status: 'error', reason: 'Compensation failed — message sent to Dead Letter Channel', trace: entry.trace };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 560,
    "wires": [["eh-dlq-http-out"]]
  },
  {
    "id": "eh-dlq-http-out",
    "type": "http response",
    "z": "tab-error-handling",
    "name": "HTTP Response (DLQ error)",
    "statusCode": "",
    "headers": { "content-type": "application/json" },
    "x": 460,
    "y": 640,
    "wires": []
  },
  {
    "id": "eh-dlq-debug",
    "type": "debug",
    "z": "tab-error-handling",
    "name": "Dead Letter sidebar log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 700,
    "y": 560,
    "wires": []
  },

  {
    "id": "admin-health-in",
    "type": "http in",
    "z": "tab-admin",
    "name": "GET /health",
    "url": "/health",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 80,
    "wires": [["admin-health-fn"]]
  },
  {
    "id": "admin-health-fn",
    "type": "function",
    "z": "tab-admin",
    "name": "Health response",
    "func": "msg.payload = { status: 'ok', service: 'node-red' };\nmsg.statusCode = 200;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 80,
    "wires": [["admin-health-out"]]
  },
  {
    "id": "admin-health-out",
    "type": "http response",
    "z": "tab-admin",
    "name": "HTTP Response",
    "statusCode": "200",
    "headers": { "content-type": "application/json" },
    "x": 520,
    "y": 80,
    "wires": []
  },
  {
    "id": "admin-trace-in",
    "type": "http in",
    "z": "tab-admin",
    "name": "GET /trace/:orderId",
    "url": "/trace/:orderId",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 200,
    "wires": [["admin-trace-fn"]]
  },
  {
    "id": "admin-trace-fn",
    "type": "function",
    "z": "tab-admin",
    "name": "Lookup Saga Trace",
    "func": "var orderId = msg.req.params.orderId;\nvar sagaStore = global.get('sagaStore') || {};\nvar saga = sagaStore[orderId];\nif (!saga) {\n  msg.statusCode = 404;\n  msg.payload = { error: 'No trace found for orderId: ' + orderId };\n} else {\n  msg.statusCode = 200;\n  msg.payload = { orderId: orderId, correlationId: saga.correlationId, priority: saga.priority, trace: saga.trace };\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 200,
    "wires": [["admin-trace-out"]]
  },
  {
    "id": "admin-trace-out",
    "type": "http response",
    "z": "tab-admin",
    "name": "HTTP Response",
    "statusCode": "",
    "headers": { "content-type": "application/json" },
    "x": 520,
    "y": 200,
    "wires": []
  },
  {
    "id": "admin-dlq-in",
    "type": "http in",
    "z": "tab-admin",
    "name": "GET /admin/dlq",
    "url": "/admin/dlq",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 320,
    "wires": [["admin-dlq-fn"]]
  },
  {
    "id": "admin-dlq-fn",
    "type": "function",
    "z": "tab-admin",
    "name": "Return Dead Letter Queue",
    "func": "var dlq = global.get('deadLetterQueue') || [];\nmsg.statusCode = 200;\nmsg.payload = { count: dlq.length, messages: dlq };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 320,
    "wires": [["admin-dlq-out"]]
  },
  {
    "id": "admin-dlq-out",
    "type": "http response",
    "z": "tab-admin",
    "name": "HTTP Response",
    "statusCode": "",
    "headers": { "content-type": "application/json" },
    "x": 520,
    "y": 320,
    "wires": []
  }
]